.page {
    /* Цвет фона от шапки до подвала */
    background-color: #B9D7EA;
    /* Цвет текста на всей странице */
    color: #444444;

    font-family: Sans-serif, 'Inter';
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}