.starred {
    /* Цвет области выбранных (кликнутых) предложений */
    background-color: #DFF4F3;
    margin: 20px auto 0;
    min-height: 81px;
    max-width: 70%;
    border-radius: 10px;
    font-size: 18px;
}