.card {
    /* color: #444444; */
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

.card:first-of-type {
    padding-top: 20px;
}

.card:last-of-type {
    padding-bottom: 20px;
}